body {
  padding-top: 70px;
}

  /* UTILITY */
  .bg_grey{
    background-color: #2C3F51;
  }
  .bg_dark{
    background-color: #1A252F;
  }
  .bg-white {
    background-color: white;
  }
  .bg-black{
    background-color: black;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .jumbotron h1, .jumbotron p, #about h1, #about p, footer h2, footer p{
    color: white;
  }

h1 {
  text-transform: uppercase;
  font-weight: bolder !important;
}
h2 {
  text-transform: uppercase;
  font-weight: bolder !important;
}
  /* /UTILITY */
nav a {
  padding: 0 !important;
}
.navbar{
  height: 100px;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
.navbar a {
  color: white;
}
.navbar-toggle {
  margin-top: -8px;
  background-color: #19BC9C;
  border: 1px solid white;
}
.navbar-toggle span {
  outline: 1px solid white!important;
}
.navbar-brand{
  font-size: 1.75em !important;
  font-weight: bolder;
}
.navbar-right a{
  font-size: 1em;
  font-weight: bolder !important;
  padding: 0 20px !important;
}
.navbar-header {
  padding-top: calc((100px - 1.75em)/2)
}
.navbar-right{
  padding-top: calc((100px - 1em)/2) ;
}
.jumbotron{
  background-color: #19BC9C;
  padding-top: 100px;
}
.jumbotron img{
  width: 250px;
}
.spacer-star hr {
  width: 100px;
  height: 4px;
  border: 0;
  border-radius: 2px;
}
.spacer-star span {
  display: inline-block;
}
.jumbotron .glyphicon, #about .glyphicon{
  font-size: 40px;
  padding:  0 20px;
  color: white;
}
#portfolio .glyphicon, #contact .glyphicon{
  font-size: 40px;
  padding:  0 20px;
}
#portfolio{
  padding: 50px 0;
}
#portfolio h2{
  font-size: 48px !important;
}
#portfolio img{
  width: 300px;
  border-radius: 10px;
  margin:30px;
}
#about{
  background-color: #19BC9C;
  padding: 50px 0;
}
#about h2{
  font-size: 48px !important;
}
#about p{
  font-size: 20px !important;
}
#contact{
  margin-top: 50px;
  height: 600px;
}
#contact h2{
  font-size: 48px !important;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  border: 0;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #c8c8c8;
  padding: 0;
}
label{
  font-size: 22px !important;
  color: #848B91;
}
.btn-primary {
  color: #fff;
  background-color: #19BC9C;
  border-color: #19BC9C;
  padding: 20px;
}
footer{
  padding-top: 50px;
}
footer h2{
  font-size: 24px !important;
}
footer p{
  font-size: 20px !important;
  padding: 5px;
}
.main_footer .row-top{
  padding-top: 50px;
}

#copy{
  height: 80px;
  line-height: 70px;
}
#copy p{
  font-size: 16px !important;
}
